################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeonisaGateway/PuntosLeonisa.Gateway/.vs/PuntosLeonisa.Gateway/FileContentIndex/1f8488ae-8ac1-469f-afa5-83623fce555d.vsidx
/LeonisaGateway/PuntosLeonisa.Gateway/.vs/PuntosLeonisa.Gateway/FileContentIndex
microservices/PuntosLeonisa.Fidelizacion/4.Presentation/Productos/global.json
.vscode/launch.json
